{% extends "icds/base.html" %}

{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {% endblock %}

    {% block body %}
    <body class="bgPic">

        <nav class="navbar fixed-top navbar-light navbar-expand-lg">
            <div class="container">
                <a href="{% url 'home' %}" style="text-decoration:none;">
                <div class="header d-flex align-items-center">
                    <img width="63px" height="86px" src="/static/images/logo.svg" alt="logo" />
                    <p class="ml-3 ">Integrated Child
                        <br>Development Scheme</p>
                </div>
                </a>
            </div>
        </nav>

        <section>
            <div class="container">
                <div class="row" >
                            <nav aria-label="breadcrumb" style="margin-top: 150px;">
                              <ol class="breadcrumb breadcrumb-right-arrow">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item active"><img style="margin-top:-3px;" src="/static/images/u_apps.png" width="17px" height="17px"/> Category</li>
                              </ol>
                            </nav>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-12" style="margin-top: 100px;">
                        <div class="d-flex">
                            <img src="/static/images/decorationFAA.png" alt="" style="margin-left:-50px; margin-top: -55px;" width="104px" height="101px">
                            <p class="page-heading">Enter total beneficiaries in each category</p>
                        </div>
                    </div>
                </div>
                {% include 'partials/_flash_messages.html' %}

               <form action="{% url 'category' %}" method="post">
                      {% csrf_token %}
                   <div class="row justify-content-center p-3 mt-5">

                       <div data-title="Welcome!👋" data-intro="Please enter total 4 y to 6 y child, If there is none, keep it 0" class="col col-12 col-md-12 col-lg-12 " style="border: 2px solid #e0e0e0;border-radius: 15px;background-color: #ffffff;">
                            <div class="row align-items-center">
                                <div class="col col-12 col-md-8 col-lg-8 d-flex align-items-center">
                                    <img src="/static/images/preSchool.svg" width="35px" alt=""/>
                                    <div class="col col-12 col-md-12">
                                        <p class="heading mt-3">4 y to 6 y</p>
                                        <p class="sub-heading">Enter total no. of preschooler</p>
                                    </div>
                                </div>

                                <div class="col col-12 col-md-4 col-lg-4">
                                    <input name="preSchool" type="text" onkeypress="return isNumberKey(event)" aria-label="" placeholder="enter here" value="0" class="numInput" autofocus required>
                                </div>
                            </div>
                       </div>

                       <div data-intro="Please enter total Pregnant women, If there is none, keep it 0" class="col col-12 col-md-12 col-lg-12 mt-2" style="border: 2px solid #e0e0e0;border-radius: 15px;background-color: #ffffff;">
                            <div class="row align-items-center">
                                <div class="col col-12 col-md-8 col-lg-8 d-flex align-items-center">
                                    <img src="/static/images/pregnantFAA.svg" alt=""/>
                                    <div class="col col-12 col-md-12" style="margin-left:5px;">
                                        <p class="heading mt-3">Pregnant women</p>
                                        <p class="sub-heading">Enter total no. of pregnant women</p>
                                    </div>
                                </div>

                                <div class="col col-12 col-md-4 col-lg-4">
                                    <input name="pregnantFAA" type="text" onkeypress="return isNumberKey(event)" aria-label="" placeholder="enter here" value="0" class="numInput" autofocus required>
                                </div>
                            </div>
                       </div>

                       <div data-intro="Please enter total Lactating women, If there is none, keep it 0" class="col col-12 col-md-12 col-lg-12 mt-2" style="border: 2px solid #e0e0e0;border-radius: 15px;background-color: #ffffff;">
                            <div class="row align-items-center">
                                <div class="col col-12 col-md-8 col-lg-8 d-flex align-items-center">
                                    <img src="/static/images/lactatingFAA.svg" alt=""/>
                                    <div class="col col-12 col-md-12">
                                        <p class="heading mt-3">Lactating women</p>
                                        <p class="sub-heading">Enter total no. of lactating women</p>
                                    </div>
                                </div>

                                <div class="col col-12 col-md-4 col-lg-4">
                                    <input name="lactatingFAA" type="text" onkeypress="return isNumberKey(event)" aria-label="" placeholder="enter here" value="0" class="numInput" autofocus required>
                                </div>
                            </div>
                       </div>

                    <div class="col col-12 col-md-12 text-right mt-4">
                        <button class="btn btnSubmitFAA footer">NEXT</button>
                    </div>

                </div>
                    </form>
            </div>
        </section>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>
            function isNumberKey(evt)
               {
                  var charCode = (evt.which) ? evt.which : evt.keyCode;
                  if (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57))
                     return false;
                  return true;
               }
        </script>
        <script>
                $(window).scroll(function(e) {
                    $('.navbar')[$(window).scrollTop() >= 150 ? 'addClass' : 'removeClass']('navbar-hide');
                });
        </script>
        <script>
            if(!localStorage.getItem("fTime")){
                localStorage.setItem("fTime","true");
                introJs().start();
            }
        </script>
    </body>
    {% endblock %}