{% extends "icds/base.html" %}
{% load filterFile %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/foodCost.css' %}">
    {% endblock %}

    {% block body %}
    <body class="bgPic">

        <nav class="navbar fixed-top navbar-light navbar-expand-lg">
            <div class="container">
                <div class="header d-flex align-items-center">
                    <img width="63px" height="86px" src="/static/images/logo.svg" alt="logo" />
                    <p class="ml-3 ">Integrated Child
                        <br>Development Scheme</p>
                </div>
            </div>
        </nav>
        <section>

            <div class="container">
                <div class="row" >
                            <nav aria-label="breadcrumb" style="margin-top: 150px;">
                              <ol class="breadcrumb breadcrumb-right-arrow">
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-3); return false;"><i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#" onclick="window.history.go(-2); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_apps_inactive.png" width="17px" height="17px"/> Category
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#" onclick="window.history.go(-1); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_food_inactive.png" width="17px" height="17px"/> Food
                                    </a>
                                </li>
                                <li class="breadcrumb-item active"><img style="margin-top:-3px;" src="/static/images/u_money.png" width="17px" height="17px"/> Cost</li>
                              </ol>
                            </nav>
                </div>

                <div class="row">
                    <div class="col col-12 col-md-12" style="margin-top: 100px;">
                        <div class="d-flex">
                            <img src="/static/images/decorationFAA.png" alt="" style="margin-left:-50px; margin-top: -55px;" width="104px" height="101px">
                            <p class="page-heading">Verify/Enter cost per kg of the selected food</p>

                            <div class="ml-auto">
                                {% if preSchool > 0 %}
                                    <img src="/static/images/cat5.png" width="111px" height="36px"/>
                                {% endif %}

                                {% if pregnantFAA > 0 %}
                                    <img src="/static/images/cat3.png" width="143px" height="36px" />
                                {% endif %}

                                {% if lactatingFAA > 0 %}
                                    <img src="/static/images/cat4.png" width="143px" height="36px"/>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row justify-content-center p-5" style="border-radius: 15px; background-color: #fff; border: 2px solid #eaeaea; ">

                    <form style="display: contents;" action="{% url 'FoodCost' %}" method="post" id="frmTest">
                        {% csrf_token %}

                    <div data-aos="fade-up" class="col col-12 col-md-12 mt-4" id="filteredProducts">

                        <!-- Cereals Here  -->
                        <div class="d-flex align-items-center">
                            <span class="cost-heading">CEREALS</span>
                        </div>
                        <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">

                            <div class="form-row">

                                {% for cereal in resultCereals %}
                                    <div class="form-group col-md-3">
                                        <div style="position: relative;">
                                            <label>{{cereal}}</label>
                                            <div class="input-group" style="min-height: 60px;overflow: hidden;">
                                                <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{cereal}}" value="{{ cereal_cost|get_at_index:forloop.counter0 }}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">per kg</span>
                                                </div>
                                            </div>
                                            <div class="d-flex float-right" style="padding: 5px;">
                                                {% if cereal in preSchoolFood %}
                                                    <hr style="border: 3px solid #D88EBA;width:12px; border-radius: 15px; margin:1px; position:absolute; top: 80px; right: 115px; float:right;"/>
                                                {% endif %}
                                                {% if cereal in pregnantFood %}
                                                    <hr style="border: 3px solid #4BE4AD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 138px;"/>
                                                {% endif %}
                                                {% if cereal in lactatingFood %}
                                                    <hr style="border: 3px solid #5AD8FD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 160px;"/>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>


                    <!-- Pulses Here  -->

                    <div class="d-flex align-items-center mt-2">
                        <span class="cost-heading">PULSES</span>
                    </div>
                        <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">

                        <div class="form-row">
                            {% for pulse in resultPulses %}
                            <div class="form-group col-md-3">
                                <div style="position: relative;">
                                    <label>{{pulse}}</label>
                                    <div class="input-group mb-3" style="min-height: 60px;overflow: hidden;">
                                        <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{pulse}}" value="{{ pulse_cost|get_at_index:forloop.counter0 }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">per kg</span>
                                        </div>
                                    </div>
                                    <div class="d-flex float-right" style="padding: 5px;">
                                        {% if pulse in preSchoolFood %}
                                            <hr style="border: 3px solid #D88EBA;width:12px; border-radius: 15px; margin:1px; position:absolute; top: 80px; right: 115px; float:right;"/>
                                        {% endif %}
                                        {% if pulse in pregnantFood %}
                                            <hr style="border: 3px solid #4BE4AD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 138px;"/>
                                        {% endif %}
                                        {% if pulse in lactatingFood %}
                                            <hr style="border: 3px solid #5AD8FD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 160px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                            <!-- Others Here  -->
                    <div class="d-flex align-items-center mt-2">
                        <span class="cost-heading">OTHERS</span>
                    </div>
                    <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">
                    <div class="form-row">
                        {% for other in resultOthers %}
                            <div class="form-group col-md-3">
                                <div style="position: relative;">
                                    <label>{{other}}</label>
                                    <div class="input-group mb-3" style="min-height: 60px;overflow: hidden;">
                                        <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{other}}" value="{{ other_cost|get_at_index:forloop.counter0 }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">per kg</span>
                                        </div>
                                    </div>
                                    <div class="d-flex float-right" style="padding: 5px;">
                                        {% if other in preSchoolFood %}
                                            <hr style="border: 3px solid #D88EBA;width:12px; border-radius: 15px; margin:1px; position:absolute; top: 80px; right: 115px; float:right;"/>
                                        {% endif %}
                                        {% if other in pregnantFood %}
                                            <hr style="border: 3px solid #4BE4AD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 138px;"/>
                                        {% endif %}
                                        {% if other in lactatingFood %}
                                            <hr style="border: 3px solid #5AD8FD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 160px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- MILK POWDER Here  -->
                    <div class="d-flex align-items-center mt-2">
                        <span class="cost-heading">MILK POWDER </span>
                        <span class="note ml-2">(Note: cost is considered if it's from ICDS)</span>
                    </div>
                    <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">
                    <div class="form-row">
                        {% for milk in resultMilkPowder %}
                            <div class="form-group col-md-3">
                                <div style="position: relative;">
                                    <label>{{milk}}</label>
                                    <div class="input-group mb-3" style="min-height: 60px;overflow: hidden;">
                                        <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{milk}}" value="{{ milk_cost|get_at_index:forloop.counter0 }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">per kg</span>
                                        </div>
                                    </div>
                                    <div class="d-flex float-right" style="padding: 5px;">
                                        {% if milk in preSchoolFood %}
                                            <hr style="border: 3px solid #D88EBA;width:12px; border-radius: 15px; margin:1px; position:absolute; top: 80px; right: 115px; float:right;"/>
                                        {% endif %}
                                        {% if milk in pregnantFood %}
                                            <hr style="border: 3px solid #4BE4AD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 138px;"/>
                                        {% endif %}
                                        {% if milk in lactatingFood %}
                                            <hr style="border: 3px solid #5AD8FD;width:12px; border-radius: 15px; margin:1px;position:absolute; top: 80px; right: 160px;"/>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    </div>


                   <div class="col col-12 col-md-12 text-center">
                       <button class="btn btnSubmitFAA footer">SUBMIT</button>
                   </div>

           </form>
        </div>
    </section>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>
            function isNumberKey(evt)
               {
                  var charCode = (evt.which) ? evt.which : evt.keyCode;
                  if (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57))
                     return false;

                  return true;
               }
        </script>
         <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
              duration: 1200,
              once: 'true',
            })
        </script>
        <script>
             $(window).scroll(function(e) {
                  $('.navbar')[$(window).scrollTop() >= 100 ? 'addClass' : 'removeClass']('navbar-hide');
             });
        </script>

    </body>
    {% endblock %}