{% extends "icds/base.html" %}
{% load filterFile %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/foodCost.css' %}">
    {% endblock %}

    {% block body %}
    <body class="bgPic">

        <nav class="navbar fixed-top navbar-light navbar-expand-lg">
            <div class="container">
                <div class="header d-flex align-items-center">
                    <img width="63px" height="86px" src="/static/images/logo.svg" alt="logo" />
                    <p class="ml-3 ">Integrated Child
                        <br>Development Scheme</p>
                </div>
            </div>
        </nav>
        <section>

            <div class="container">
                <div class="row">
                    <div class="col col-12 col-md-12" style="margin-top: 190px;">
                        <div class="d-flex">
                            <img src="/static/images/decorationTHR.png" alt="" style="margin-left:-50px; margin-top: -55px;" width="104px" height="101px">
                            <p class="page-heading">Verify Food Cost</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-12 col-md-12 check mt-3 mb-4">

                        <label tabindex="0">
                            <input tabindex="-1" type="radio" name="category" value="All" checked/>
                                <div class="icon-box">
                                  <span>All</span>
                                </div>
                        </label>

                        {% if infant > 0 %}
                        <label tabindex="0">
                            <input tabindex="-1" type="radio" name="category" value="6 mo to 1 yr" id="checkbox1"/>
                                <div class="icon-box">
                                  <span>6 mo to 1 yr</span>
                                </div>
                        </label>
                        {% endif %}

                        {% if toddler > 0 %}
                        <label tabindex="0">
                            <input tabindex="-1" type="radio" name="category" value="1 yr to 3 yrs" />
                                <div class="icon-box">
                                  <span>1 yr to 3 yrs</span>
                                </div>
                        </label>
                        {% endif %}

                        {% if pregnant > 0 %}
                        <label tabindex="0">
                            <input tabindex="-1" type="radio" name="category" value="pregnant women" />
                                <div class="icon-box">
                                  <span>pregnant women</span>
                                </div>
                        </label>
                        {% endif %}

                        {% if lactating > 0 %}
                        <label tabindex="0">
                            <input tabindex="-1" type="radio" name="category" value="lactating women" />
                                <div class="icon-box">
                                  <span>lactating women</span>
                                </div>
                        </label>
                        {% endif %}

                    </div>
                </div>


                <div class="row justify-content-center p-5" style="border-radius: 15px; background-color: #fff; border: 2px solid #eaeaea; ">

                    <form style="display: contents;" action="{% url 'FoodCost' %}" method="post" id="frmTest">
                        {% csrf_token %}

                    <div data-aos="fade-up" class="col col-12 col-md-12 mt-4" id="filteredProducts">

                        <!-- Cereals Here  -->
                        <div class="d-flex align-items-center">
                            <span class="cost-heading">CEREALS</span>
                        </div>
                        <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">

                            <div class="form-row">

                                {% for cereal in c %}
                                <div class="form-group col-md-3">
                                    <label>{{cereal}}</label>
                                    <div class="input-group mb-3">
                                        <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{cereal}}" value="{{ c_cost|get_at_index:forloop.counter0 }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">per unit</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>


                    <!-- Pulses Here  -->

                    <div class="d-flex align-items-center mt-2">
                        <span class="cost-heading">PULSES</span>
                    </div>
                        <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">

                        <div class="form-row">
                            {% for pulse in p %}
                            <div class="form-group col-md-3">
                                <label>{{pulse}}</label>
                                <div class="input-group mb-3">
                                    <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{pulse}}" value="{{ p_cost|get_at_index:forloop.counter0 }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">per unit</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                            <!-- Others Here  -->
                    <div class="d-flex align-items-center mt-2">
                        <span class="cost-heading">OTHERS</span>
                    </div>
                    <hr style="margin-top: 5px; border: 1px solid #e0e0e0;">
                    <div class="form-row">
                        {% for other in o %}
                            <div class="form-group col-md-3" >
                                <label>{{other}}</label>
                                <div class="input-group mb-3">
                                    <input onkeypress="return isNumberKey(event)" type="text" class="form-control" aria-label="" name="{{other}}" value="{{ o_cost|get_at_index:forloop.counter0 }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">per unit</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>


                   <div class="col col-12 col-md-12 text-center">
                       <button class="btn btnSubmit footer">SUBMIT</button>
                   </div>

           </form>
        </div>
    </section>


        <!-- Optional JavaScript --> 
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>
            function isNumberKey(evt)
               {
                  var charCode = (evt.which) ? evt.which : evt.keyCode;
                  if (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57))
                     return false;
    
                  return true;
               }
        </script>
         <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
              duration: 1200,
              once: 'true',
            })
        </script>
        <script>
             $(window).scroll(function(e) {
                  $('.navbar')[$(window).scrollTop() >= 100 ? 'addClass' : 'removeClass']('navbar-hide');
             });
        </script>
    <script>

       $("input[name='category']").change(function(e){
            e.preventDefault();
            var query;
            query = $("input[name='category']:checked").val();
            console.log(query)

            $.ajax(
                    {
                        type:"GET",
                        url: "/filter-data",
                        data:{
                            post_id: query
                        },
                            dataType:'json',
                            success: function(res)
                            {
                                $("#filteredProducts").html(res.data);
                            }
                })
        });

    </script>

    </body>
    {% endblock %}