{% extends "icds/base.html" %}

{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/first.css' %}">
    {% endblock %}

    {% block body %}
    <body class="bgPic">

        <nav class="navbar fixed-top navbar-light navbar-expand-lg">
            <div class="container">
                <div class="header d-flex align-items-center">
                    <img width="63px" height="86px" src="/static/images/logo.svg" alt="logo" />
                    <p class="ml-2">Integrated Child
                        <br>Development Scheme</p>
                </div>
                    <div class="float-right">
                        <input type="checkbox" class="checkbox" id="chk" />
                        <label class="label" for="chk">
                            <i class="fas fa-sun"></i>
                            <i class="fas fa-moon"></i>
                            <div class="ball"></div>
                        </label>
                    </div>
            </div>
        </nav>          

        <section>
            <div class="container">
                <div class="row">

                    <div class="col col-12 col-md-12" style="margin-top: 190px;">
                        <div class="d-flex">
                            <img src="/static/images/decoration.png" alt="" style="margin-left:-50px; margin-top: -45px;" width="104px" height="101px">
                            <p class="heading mt-2"> Choose Preference</p>
                        </div>
                        <p class="sub-heading" style="margin-top: -10px;"> Optimise for Take Home Ration as well as Hot Cooked Meal </p>
                    </div>

                    <div class="col col-12 col-md-6 p-2" style="margin-top: 100px;">
                        <a href="{% url 'category' %}?data=THR" style="text-decoration:none; color: black;">
                        <div id="card1" class="card">
                            <div class="card-body">
                                <img style="margin-top: 25px;" src="/static/images/groceries.svg" alt="alt"/>
                                <p class="card-sub-heading mt-4">Take Home Ration</p>
                                <p class="individual" style="color: #EC4E20;">raw ration</p>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="col col-12 col-md-6 p-2" style="margin-top: 100px;">
                        <a href="{% url 'category' %}?data=FAA" style="text-decoration:none; color: black;">
                        <div id="card2"  class="card">
                            <div class="card-body">
                                <img style="margin-top: 25px;" src="/static/images/anganwadi.svg" alt="alt"/>
                                <p class="card-sub-heading mt-4">Hot Cooked Meal</p>
                                <p class="individual" style="color: #FF9505;">cooked food</p>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div style="margin-top: 120px; text-align: center;  margin-left: auto;
  margin-right: auto;">
                        <p class="sub-heading">*The site shall be updated based on government guidelines for ICDS</p>
                        <a target="_blank" href="{% url 'documentation' %}" class="individual" style="color: #000;">DOCUMENTATION</a>
                    </div>

                </div>

            </div>
        </section>

        <script>
             $(window).scroll(function(e) {
                // add/remove class to navbar when scrolling to hide/show
                    $('.navbar')[$(window).scrollTop() >= 150 ? 'addClass' : 'removeClass']('navbar-hide');
             });
        </script>
    <script>
        const chk = document.getElementById('chk');
        chk.addEventListener('change', () => {
            document.body.classList.toggle('dark');
        });

    </script>
      <!-- Modal -->
        <!-- Bootstrap Modal -->
        <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content" style="background-color:#ffe4e4">
        <!-- Modal header -->
        <div class="modal-header" style="border: none;">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <!-- Modal body -->
        <div class="modal-body" style="border: none; margin-top: -20px;">
            <div class="text-center"><img class="mx-auto text-center mb-3" src="/static/images/logo.svg" width="100px" height="100px"></div>
            <p class="card-sub-heading text-center mb-3">Welcome to SNO</p>
            <p class="individual text-center mb-3">“Confused about what foods to buy… and how much to buy… to feed your beneficiaries at minimal cost? SNO (Supplementary Nutrition Optimization) Food is what you need - a tool to help you make food choices in a confusing world!”</p>
            <p class="individual text-center"  style="color: black;">The development of this tool supported by funding received by St. John’s Research Institute from BIRAC Department of Biotechnology, Govt of India.</p>

        </div>

        </div> <!-- // .modal-content -->
        </div> <!-- // .modal-dialog -->
        </div> <!-- // #myModal -->

    </body>
    <script>
        jQuery(document).ready(function(){
          if (sessionStorage.getItem("story") !== 'true') {
            sessionStorage.setItem("story", "true");
            $("#myModal").modal();
          }

          $('#reset-session').on('click',function(){
            sessionStorage.setItem('story','');
          });
        });
    </script>
    {% endblock %}