{% load filterFile %}
{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nutrition Optimization Report</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }

    .mystyle {
        font-size: 11pt;
        font-family: Arial;
        border-collapse: collapse;
        border: 1px solid #909090;
        text-align: center;
    }

    .mystyle td, th {
        padding: 5px;
    }

    .mystyle tr:nth-child(even) {
        background: #E0E0E0;
    }

    .mystyle tr:hover {
        background: #e0e0e0;
        cursor: pointer;
    }
    </style>
</head>
<body>

<div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Nutrition Optimization Report - {{ today | date:"d/m/Y" }}</h3>
            </div>
            {% if inft_data %}
                <div class="card-header">
                    <h2>6 months to 1 year (Total Cost: Rs. {{inft_total}})</h2>
                </div>
                {{inft_data | safe}}
            {% endif %}
        </div>

    <div class="card">
        {% if inft_data_lessKcal %}
            <div class="card-header">
                <h2>6 months to 1 year (250 Kcal) (Total Cost: Rs. {{inft_total_lessKcal}})</h2>
            </div>
                {{inft_data_lessKcal | safe}}
        {% endif %}
    </div>


    <div class="card">
        {% if todd_data %}
            <div class="card-header">
                <h2>1 year to 3 years (Total Cost: Rs. {{todd_total}})</h2>
            </div>
                {{todd_data | safe}}

        {% endif %}
    </div>

    <div class="card">
        {% if preg_data %}
            <div class="card-header">
                <h2>Pregnant women (Total Cost: Rs. {{preg_total}})</h2>
            </div>
            <table>
                {{preg_data | safe}}
            </table>
        {% endif %}
    </div>

    <div class="card">
        {% if lact_data %}
            <div class="card-header">
                <h2>Lactating women (Total Cost: Rs. {{lact_total}}) </h2>
            </div>
            <table>
                {{lact_data | safe}}
            </table>
        {% endif %}
    </div>

</div>

</body>
</html>