{% extends "icds/base.html" %}
{% load filterFile %}
{% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'css/resultFAA.css' %}">
    {% endblock %}

    {% block body %}
    <body class="bgPic">

        <nav class="navbar fixed-top navbar-light navbar-expand-lg">
            <div class="container">
                <a href="{% url 'home' %}" style="text-decoration:none;">
                <div class="header d-flex align-items-center">
                    <img width="63px" height="86px" src="/static/images/logo.svg" alt="logo" />
                    <p class="ml-3 ">Integrated Child
                        <br>Development Scheme</p>
                </div>
                </a>
            </div>
        </nav>
        <section>

            <div class="container">
                <div class="row" >
                            <nav aria-label="breadcrumb" style="margin-top: 150px;">
                              <ol class="breadcrumb breadcrumb-right-arrow">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}"><i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-6); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_apps_inactive.png" width="17px" height="17px"/> Category
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-5); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_food_inactive.png" width="17px" height="17px"/> Food
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-4); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_money_inactive.png" width="17px" height="17px"/> Cost
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-3); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_result_inactive.png" width="17px" height="17px"/> Result
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-2); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_vegetable_inactive.png" width="17px" height="17px"/> Veggies
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#" onclick="window.history.go(-1); return false;">
                                        <img style="margin-top:-3px;" src="/static/images/u_quantity_inactive.png" width="17px" height="17px"/> Quantity
                                    </a>
                                </li>
                                <li class="breadcrumb-item active"><img style="margin-top:-3px;" src="/static/images/u_result.png" width="17px" height="17px"/> Overall Result </li>
                              </ol>
                            </nav>
                </div>
                <div class="row">
                    <div class="col col-12 col-md-12" style="margin-top: 100px;">
                        <div class="d-flex">
                            <img src="/static/images/decorationFAA.png" alt="" style="margin-left:-50px; margin-top: -55px;" width="104px" height="101px">
                            <p class="page-heading">Result</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center p-5" style="border-radius: 15px; background-color: #fff; border: 2px solid #eaeaea; ">

                    <div class="col col-12 col-md-12">

                        <div class="d-flex align-items-center mt-2">

                            <div class="input-group check col col-10 col-md-8" style="margin-left: -15px;">
                                    {% if preSchool > 0 %}
                                        <label tabindex="0" class="mr-2">
                                            <input tabindex="-1" type="radio" name="category" value="4 yrs to 6 yrs" checked/>
                                                <div class="icon-box">
                                                  <span>4 yrs to 6 yrs</span>
                                                </div>
                                        </label>
                                    {% endif %}

                                    {% if lactatingFAA > 0 %}
                                        <label tabindex="0" class="mr-2">
                                            <input tabindex="-1" type="radio" name="category" value="lactating women" checked/>
                                                <div class="icon-box">
                                                  <span>lactating women</span>
                                                </div>
                                        </label>
                                    {% endif %}

                                    {% if pregnantFAA > 0 %}
                                        <label tabindex="0" class="mr-2">
                                            <input tabindex="-1" type="radio" name="category" value="pregnant women" checked/>
                                                <div class="icon-box">
                                                  <span>pregnant women</span>
                                                </div>
                                        </label>
                                    {% endif %}

                            </div>
                            <button class="btn ml-auto btnExport" formtarget="_blank" onclick="window.open('{% url 'pdf' %}')">
                                <i class="fa fa-download" aria-hidden="true">
                                    <span style="font-family:Circular Std Bold;"> &nbsp;&nbsp;Export</span>
                                </i>
                            </button>
                        </div>
                    </div>
                    <!-- Cereals Here  -->

                    <div data-aos="fade-up" class="col col-12 col-md-12 mt-4" id="filteredProducts" >

                    </div>

            </div>
        </div>
    </section>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>
            function isNumberKey(evt)
               {
                  var charCode = (evt.which) ? evt.which : evt.keyCode;
                  if (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57))
                     return false;

                  return true;
               }
        </script>
         <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
              duration: 1200,
              once: 'true',
            })
        </script>
            <script>
                $(window).scroll(function(e) {
                    $('.navbar')[$(window).scrollTop() >= 100 ? 'addClass' : 'removeClass']('navbar-hide');
                });
            </script>
        <script>

            $(document).ready(function() {
                var query;
                query = $("input[name='category']:checked").val();
                console.log(query)

                $.ajax(
                        {
                            type:"GET",
                            url: "/filter-vegetable-data",
                            data:{
                                category_id: query
                            },
                            dataType:'json',
                            success: function(res)
                            {
                                console.log(res);
                                $("#filteredProducts").html(res.data);
                            }
                    })
            });

                            $("input[name='category']").change(function(e){
                    query = $("input[name='category']:checked").val();
                    $.ajax(
                        {
                            type:"GET",
                            url: "/filter-vegetable-data",
                            data:{
                                category_id: query
                            },
                            dataType:'json',
                            success: function(res)
                            {
                                console.log(res);
                                $("#filteredProducts").html(res.data);
                            }
                    })
                });
        </script>
        <script>
            introJs().start();
        </script>
    </body>
    {% endblock %}