.header p{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}

.linkHeader{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 9px 10px;
    color: #FF9505;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.page-heading{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.02em;
    margin-left: -56px;
    max-width: 80%;
}
@media (max-width: 600px) {
    .page-heading {
        font-size: 24px;
        max-width: 100%;
    }
  }


.bgPic{
    background-color: #fafafa;
}

.custom-select{
    font-family: Circular Std Book, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.36px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.card-title{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.card-subHeading{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.check label input[type="radio"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.check label .icon-box {
    font-family: Circular Std Book, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    padding: 10px;
    background-color: #eaeaea;
    color: #000;
    border-radius: 12px;
    transition: 0.5s;
    user-select: none;
}

.check label input[type="radio"]:checked ~ .icon-box {
  background: #FF9505;
  color: #fff;
}

.cost-heading{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #000000;
}

.form-group label{
    font-family: Circular Std Book, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.input-group-text{
    font-family: Circular Std Book, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: -0.36px;
    border: none;
    background-color: #eaeaea;
}


.input-group{
    font-family: Circular Std Book, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #44443F, 100%;
}

input-group:focus{
    border-color: blue;
}

.input-group input{
    border: none;
    background-color: #eaeaea;
    text-align: right;
    max-width: 100%;
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: -0.02em;
}

.input-group input:focus{
    background-color: #eaeaea;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.btnExport{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    border-radius: 12px;
    color: #FF9505;
    border: 1px solid #E0E0E0;
}

.btnExport:focus{
    background: #FF9505;
    border-radius: 12px;
    color: #fff;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.col-md-3point6 {
    border: 2px solid #E0E0E0;
    border-radius: 12px;
    background-color: #fff;
    padding: 8px;
    margin: 1px;
    width: 115px;
    height: 112px;
}


@media (min-width: 600px) {
    .col-md-3point6 {
            border: 2px solid #E0E0E0;
            border-radius: 15px;
            background-color: #fff;
            padding: 8px;
            width: 198px;
            margin: 0.19rem;
            height: 120px;
    }
}

.opCost{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
}

.container{
    width:350px
}

@media (min-width: 600px) {
    .container {
      width: 1170px;
    }
  }


.breadcrumb{
    background-color:transparent !important;
}
.breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    vertical-align:top;
    font-size:24px;
    line-height:23px;
}
.breadcrumb-item{
    font-family: Circular Std Bold, 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    color: #FF9505;
}

.breadcrumb-item a {
    color: #909090;
}

.breadcrumb-item a:hover {
    color: #EC4E20;
}

.breadcrumb >.active {
   color: black;
}

@font-face {
    font-family: 'Circular Std Black';
    src:
        url('../fonts/Circular\ Std\ Book.ttf'),
        url('../fonts/Circular\ Std\ Medium.ttf'),
        url('../fonts/CircularSpUIv3T-Bold.ttf'),
        url('../fonts/Circular\ Std\ Black.ttf');
        }

::-webkit-scrollbar {
    width: 2px;
  }

::-webkit-scrollbar-thumb {
    background: #090A3A;
    border-radius: 10px;
}

input:focus::placeholder {
  color: black;
}
