.header p{
    font-family: Circular Std Bold;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.page-heading{
    font-family: Circular Std Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.02em;
    margin-left: -56px;
    max-width: 80%;
}
@media (max-width: 600px) {
    .page-heading {
        font-size: 24px;
        max-width: 100%;
    }
  }


.bgPic{
    background-color: #fafafa;
}


.check label input[type="radio"] {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.check label .icon-box {
    font-family: Circular Std Book;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    padding: 10px;
    background-color: #eaeaea;
    color: #000;
    border-radius: 12px;
    transition: 0.5s;
    user-select: none;
}

.check label input[type="radio"]:checked ~ .icon-box {
  background: #EC4E20;
  color: #fff;
}

.cost-heading{
    font-family: Circular Std Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #000000;
}

.form-group label{
    font-family: Circular Std Book;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}

.input-group-text{
    font-family: Circular Std Book;
    font-style: normal;
    font-weight: 450;
    line-height: 18px;
    letter-spacing: -0.36px;
    border: none;
    background-color: #eaeaea;
}


.input-group{
    font-family: Circular Std Book;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #44443F, 100%;
}

input-group:focus{
    border-color: blue;
}

.input-group input{
    border: none;
    background-color: #eaeaea;
    text-align: right;
    max-width: 30%;
    font-family: Circular Std Bold;
    font-size: 18px;
    line-height: 43px;
    letter-spacing: -0.02em;
}

.input-group input:focus{
    background-color: #eaeaea;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.btnSubmit{
    font-family: Circular Std Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 24px;
    background-color: #F0F0F0;
    border-radius: 12px;
    color: #EC4E20;
}

.btnSubmit:focus{
    background: #EC4E20;
    border-radius: 12px;
    color: #000000;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}


.btnSubmitFAA{
    font-family: Circular Std Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 24px;
    background-color: #F0F0F0;
    border-radius: 12px;
    color: #FF9505;
}

.btnSubmitFAA:focus{
    background: #FF9505;
    border-radius: 12px;
    color: #000000;
}


.container{
    width:350px
}

@media (min-width: 600px) {
    .container {
      width: 1170px;
    }
  }

@font-face {
    font-family: 'Circular Std Black';
    src:
        url('../fonts/Circular\ Std\ Book.ttf'),
        url('../fonts/Circular\ Std\ Medium.ttf'),
        url('../fonts/CircularSpUIv3T-Bold.ttf'),
        url('../fonts/Circular\ Std\ Black.ttf');
        }

::-webkit-scrollbar {
    width: 2px;
  }

::-webkit-scrollbar-thumb {
    background: #090A3A;
    border-radius: 10px;
}

input:focus::placeholder {
  color: black;
}

.note{
    font-family: Circular Std Book;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
}